.hero{
    height: 100vh;
    background:linear-gradient(#f7e6f7,#e1ffea22 60%);
    /* background:linear-gradient(180 deg,#c804d6,#e1ffea22 60%); */
    display: flex;
}
.hero-left{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* gap: 20px; */
    padding-left: 180px;
    line-height: 1.1;
}
.hero-left h2{
    color: #090909;
    font-size: 20px;
    font-weight: 400;
    gap: 20px;
    line-height: 1.1;
    margin-bottom: 20px;

}
.hero-left p{
    color: #171717;
    font-size: 90px;
    font-weight: 700;
}
.hero-hand-icon{
    display: flex;
    align-items: center;
    /* gap:20px; */
}
.hero-hand-icon img{
    width: 50px;
}
.hero-latest-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:15px;
    width:495px;
    height: 70px;
    border-radius: 75px;
    margin-top: 30px;
    background: #ff4141;
    color: white;
    font-size: 22px;
    font-weight: 500;
}
.hero-right{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
}